.inline {
  display: inline-block;
}
#question-container {
  vertical-align: 17px;
}
#question {
  color: #ccc;
  cursor: pointer;
}
#question:hover {
  color: #333;
}
#input-container {
  margin-top: 20px;
}
#result-container {
  margin-top: 20px;
  display: none;
}
#result {
  margin-top: 20px;
  margin-bottom: 20px;
}